# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# !conda install -c conda-forge gmaps

In [2]:
# enabling gmaps 
# jupyter nbextension enable --py --sys-prefix gmaps

In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [4]:
g_key = "AIzaSyBe-SEDygG9zNVnK7X5wIhhN-BQjmiarj0"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
vacationdf = pd.read_csv("raw_data.csv")
vacationdf.head()

,city,lat,lng,max_temp,humidity,cloudiness,wind speed,country,date
0,Dondo,-19.6094,34.7431,75.20,100,75,8.05,MZ,1613344088
1,Rikitea,-23.1203,-134.9692,80.33,76,32,17.05,PF,1613344148
2,Albany,42.6001,-73.9662,27.00,60,99,5.41,US,1613343893
3,Saint Paul Harbor,57.7900,-152.4072,41.00,87,90,11.50,US,1613344079
4,Longyearbyen,78.2186,15.6401,17.60,73,75,3.44,SJ,1613344537

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key = g_key)

In [8]:
locations = vacationdf[['lat','lng']]

In [9]:
weight = vacationdf['humidity']

In [10]:
fig = gmaps.figure(center = (20,30), zoom_level = 3)
# creating heat layer
heatlayer = gmaps.heatmap_layer(locations,weights=weight, max_intensity = 200, point_radius = 3)
# Adding layer 
fig.add_layer(heatlayer)
# display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [13]:
temp= vacationdf["max_temp"]
windspeed= vacationdf["wind speed"]
clouds= vacationdf["cloudiness"]
weatherconditionsdf=vacationdf.loc[(temp<80)&(temp>70)]
weatherconditionsdf=weatherconditionsdf.loc[(windspeed<10)]
weatherconditionsdf=weatherconditionsdf.loc[(clouds==0)]
weatherconditionsdf.head()

,city,lat,lng,max_temp,humidity,cloudiness,wind speed,country,date
63,Carnarvon,-24.8667,113.6333,73.40,100,0,5.21,AU,1613344545
112,Umluj,25.0213,37.2685,75.58,59,0,3.15,SA,1613344554
133,Wagga Wagga,-35.1167,147.3667,71.01,68,0,5.75,AU,1613344556
156,Berbera,10.4396,45.0143,73.49,74,0,6.73,SO,1613344560
170,Bara,10.3744,10.7288,75.67,18,0,9.42,NG,1613344562

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [20]:
hoteldf=weatherconditionsdf 
hoteldf["hotel name"] = ''
hoteldf["hotel address"] = ''

In [25]:
params = {
    "radius": 5000,  # philadelphia coords,
    "type": "hotel",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe
for index, row in hoteldf.iterrows():

    # get lat and lng from df
    lat = row['lat']
    lng = row['lng']

    # add keyword to params dict
    params['location'] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # assemble url and make API request
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        
        hoteldf.loc[index, 'hotel name'] = results[0]['name']
        hoteldf.loc[index, 'hotel address'] = results[0]['vicinity']
        print(f"Closest restaurant is {results[0]['name']}.")
    except (KeyError, IndexError):
        pass
        
#   print("Missing field/result... skipping.")
        
#     print("------------")
    
hoteldf.head()

,city,lat,lng,max_temp,humidity,cloudiness,wind speed,country,date,hotel name,hotel address
63,Carnarvon,-24.8667,113.6333,73.40,100,0,5.21,AU,1613344545,,
112,Umluj,25.0213,37.2685,75.58,59,0,3.15,SA,1613344554,,
133,Wagga Wagga,-35.1167,147.3667,71.01,68,0,5.75,AU,1613344556,,
156,Berbera,10.4396,45.0143,73.49,74,0,6.73,SO,1613344560,,
170,Bara,10.3744,10.7288,75.67,18,0,9.42,NG,1613344562,,

In [26]:
hoteldf = hoteldf.dropna()

In [32]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hoteldf.iterrows()]
locations = hoteldf[["lat", "lng"]]

In [33]:
# Add marker layer ontop of heat map


# Create heat layer
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)


# Add layer
fig.add_layer(marker_layer)

# Display figure
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))